---
---

@import "{{ site.theme }}";

.view {
    display: none;
}

footer{
    display: none;
}

section {
    border: 0px !important;
    border-width: 0px !important;
    padding: 0px !important;
    margin: 0 !important;
}
